@import url("https://fonts.googleapis.com/css?family=Aclonica|Gloria+Hallelujah&display=swap");

html, body {
height: 100vh;
margin: 0;
}

.logo-icon {
	height: 50px;
}

.text-brand {
	font-family: 'Aclonica', sans-serif;
	color: #FF3860; /*logo icon pink color*/
}

.text-extra {
	font-family: 'Gloria Hallelujah', cursive;
	color: #4F4F4F;
}

/*#btn-effect {
	animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% { box-shadow: 0 0 2px #FFF; }
  30% { box-shadow: 0 0 15px #FFF; }
}*/

#btn-effect {
	box-shadow: 1px 1px 5px grey;
	animation: bounce 500ms infinite;
	animation-direction: alternate;
}

@keyframes bounce { 
	0% { transform: translateY(0); }
	100% { transform: translateY(-8px); }
}


.full-height {
	height: 100vh;
	background-image: url('/img/landingpage.jpg');
	background-size: cover;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.content {
	text-align: center;
}