@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:500");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");

html, body {
	height: 100vh;
	margin: 0;
	scroll-behavior: smooth;
}

.reg-background {
	background-image: url('/img/registration-bg.jpg'); 
	background-size: cover; height: 100%;
}

.login-background {
	background-image: url('/img/login-bg.jpg'); 
	background-size: cover; height: 100%;
}

.login-card,
.reg-card {
	background-color: rgba(252, 252, 252, 0.7); 
	border: none;
}

.text-brand {
	font-family: 'Aclonica', sans-serif;
	font-size: 2.2em;
	color: #FF3860; /*logo icon pink color*/
}

#text-none {
	text-decoration: none;
}

.alert-trans {
	opacity: .7;
}

.navbar {
	background-color: #FFF;
}

.fa-ellipsis-v {
	color: #FF3860;
}

.dropdown:hover .dropdown-menu {
	display: block;
}


.svg-wrapper {
	position: relative;
	width: 120px;
	/*make sure to use same height/width as in the html*/
	height: 40px;
	display: inline-block;
	border-radius: 2px;
}

#shape {
	stroke-width: 6px;
	fill: transparent;
	stroke: #FF3860;
	stroke-dasharray: 85 400;
	stroke-dashoffset: -350;
	transition: 1s all ease;
}

#text {
	margin-top: -35px;
}

#text a {
	color: black;
	text-decoration: none;
	font-weight: 100;
	font-size: 1.1em;
	transition: 1s;
}

#text a:hover {
	color: #FF3860;
	transition: .9s;
	letter-spacing: 1.1px;
}

.svg-wrapper:hover #shape {
	stroke-dasharray: 50 0;
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke: #FA0234;
}